In [12]:
import json
import pandas as pd
import requests
from datetime import datetime
from pandas import json_normalize

In [27]:
curr_time = datetime.now()
formatted_timestr = curr_time.strftime("%Y-%m-%dT%H:%M:%S")
air_temperature_url = "https://api.data.gov.sg/v1/environment/air-temperature"
payload = {'date_time': formatted_timestr}
response = requests.get(air_temperature_url, params=payload)
data = response.json()


df_metadata = json_normalize(data['metadata']['stations'])
df_metadata

     id device_id                  name  location.latitude  location.longitude
0  S117      S117           Banyan Road            1.25600           103.67900
1  S107      S107    East Coast Parkway            1.31350           103.96250
2  S108      S108  Marina Gardens Drive            1.27990           103.87030
3  S104      S104    Woodlands Avenue 9            1.44387           103.78538

In [32]:
df_readings = pd.DataFrame(data['items'][0]['readings'])
df_readings['datetime'] = pd.Timestamp(formatted_timestr)
df_readings = df_readings.set_index('datetime')

                    station_id  value
datetime
2024-05-11 02:58:48       S117   28.8
2024-05-11 02:58:48       S107   29.9
2024-05-11 02:58:48       S108   28.7
2024-05-11 02:58:48       S104   27.7