In [1]:
import json
import pandas as pd
import requests
from datetime import datetime
import os

os.chdir("..")

In [2]:
curr_time = datetime.now()
formatted_timestr = curr_time.strftime("%Y-%m-%dT%H:%M:%S")
air_temperature_url = "https://api.data.gov.sg/v1/environment/air-temperature"
payload = {'date_time': formatted_timestr}
response = requests.get(air_temperature_url, params=payload)
data = response.json()


df_metadata = pd.json_normalize(data['metadata']['stations'])
df_metadata

     id device_id                  name  location.latitude  location.longitude
0   S43       S43        Kim Chuan Road             1.3399            103.8878
1  S108      S108  Marina Gardens Drive             1.2799            103.8703

In [3]:
df_readings = pd.DataFrame(data['items'][0]['readings'])
df_readings['datetime'] = pd.Timestamp(formatted_timestr)
df_readings = df_readings.set_index('datetime')
df_readings

                    station_id  value
datetime
2024-09-03 00:00:53        S43   29.6
2024-09-03 00:00:53       S108   29.6